  <div class="row">
      
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      
      <mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
    
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element" class="action-link"> 
            <button mat-button id="update" (click)="openDialog('Update', element)">Edit</button> | 
            <button mat-button id="delete" (click)="openDialog('Delete', element)" color="warn">Delete</button>  
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
      <button mat-button id="add" (click)="openDialog('Add',{})" mat-flat-button color="">Add new Hero</button>

    </div>  