.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.wrapper {
  padding: 3em
}

p.note {
  margin-left: 1em;
  margin-right: 1em;
  opacity: 0.5;
}